body {
 background-image: url("https://cdn.discordapp.com/attachments/410171013108727808/410179388961849344/Person_Looking_at_the_stars.gif");
    width: 100%;
    height: 100%;
    position:static;
   
 /* Background */
    background-size: cover;
    background-attachment: scroll;
 
}
#demotext {

color: black;
background-color: transparent;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
text-align: center;
font-size: 75px;
font-family: monospace;
font-style: normal;
font-weight: lighter;
letter-spacing: 2px
}
#funHeader {
color: white;
white-space: pre;

}
